.trending-section{

margin:50px 0;

}

.trending-header{

margin-bottom:30px;

}

.trending-header h2{

font-size:30px;

color:white;

margin-bottom:8px;

}

.trending-header p{

color:#cbd5e1;

}

.trending-grid{

display:grid;

grid-template-columns:repeat(auto-fit,minmax(250px,1fr));

gap:25px;

}

.trend-card{

position:relative;

overflow:hidden;

padding:28px;

border-radius:25px;

background:rgba(255,255,255,.08);

backdrop-filter:blur(18px);

border:1px solid rgba(255,255,255,.08);

transition:.45s;

}

.trend-card:hover{

transform:translateY(-12px);

box-shadow:0 20px 45px rgba(0,0,0,.35);

}

.trend-card::before{

content:"";

position:absolute;

width:220px;

height:220px;

border-radius:50%;

background:#8b5cf6;

top:-80px;

right:-80px;

opacity:.12;

}

.trend-badge{

display:inline-block;

padding:6px 14px;

border-radius:20px;

background:#ef4444;

color:white;

font-size:13px;

font-weight:600;

margin-bottom:20px;

}

.trend-icon{

font-size:55px;

color:#60a5fa;

margin-bottom:20px;

}

.trend-card h3{

color:white;

font-size:22px;

margin-bottom:10px;

}

.trend-card p{

color:#cbd5e1;

margin-bottom:18px;

}

.rating{

display:flex;

align-items:center;

gap:5px;

color:#facc15;

margin-bottom:22px;

}

.rating span{

margin-left:10px;

color:white;

font-weight:600;

}

.trend-footer{

display:flex;

justify-content:space-between;

color:#94a3b8;

font-weight:600;

}

.trend-footer span{

display:flex;

align-items:center;

gap:8px;

}

.trend-card:hover .trend-icon{

transform:rotate(-10deg) scale(1.15);

transition:.4s;

}